[submodule "backend"]
	path = backend
	url = https://github.com/GyuminGomin/Backend-Health-Boosting.git
[submodule "frontend"]
	path = frontend
	url = https://github.com/GyuminGomin/Frontend-Health-Boosting.git
